.container.opened {
  width: 100%;
  height: 379px;
  transform: translateY(0);
  opacity: 1;
}
.container {
  transform: translateY(-379px);
  background-color: var(--medium-green);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  position: fixed;
  /* z-index: var(--menu-z-index); */
  top: 0;
  left: 0;
  right: 0;
  will-change: transform, opacity;
  z-index: 9999;
}

.wrapper {
  padding: 80px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  margin-bottom: 75px;
}
.headerCenter {
  position: absolute;
  left: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  transform: translateX(-50%);

  color: #ffffff;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 210px;
}
.social {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menuBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuList {
  display: flex;
  gap: 132px;
  align-items: stretch;
}
.menuListBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuListItem {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;

  color: #ffffff;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
}
.mobile {
  display: none;
}
@media screen and (max-width: 1800px) {
  .menuList {
    gap: 110px;
  }
}
@media screen and (max-width: 1700px) {
  .headerRight {
    gap: 140px;
  }
}

@media screen and (max-width: 1550px) {
  .menuList {
    gap: 90px;
  }
}

@media screen and (max-width: 1440px) {
  .headerLogo,
  .headerLogo svg {
    width: 99px;
    height: 32px;
  }
  .headerCenter {
    font-size: 16px;
  }
  .social {
    gap: 37px;
  }
  .menuListItem {
    font-size: 16px;
  }

  .wrapper {
    padding: 73px 0;
  }
  .header {
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 1440px) {
  .container.opened {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: translateY(100vh);
  }
  .container.opened {
    height: auto !important;
    overflow-y: scroll;
    position: static;
  }
  .menuText,
  .intl {
    white-space: nowrap;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header {
    margin-bottom: 40px;
  }
  .menuText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .mobileHeader {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    align-items: center;

    margin-bottom: 46px;
  }
  .mobileHeaderRight {
    display: flex;
    gap: 53px;
    align-items: center;
  }
  .intl > * {
    position: relative;
    top: -4px;
  }
  .menuBottom {
    flex-direction: column;
    gap: 47px;
  }
  .menuList {
    flex-direction: column;
    gap: 0;
  }
  .menuListBlock {
    align-items: center;
  }
  .menuListItem {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }
  .btnCloseWrapper {
    cursor: pointer;
  }
  .wrapper {
    padding-top: 60px;
    padding-bottom: 52px;
  }
}
