.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ffffff;
  box-shadow: 18px 14px 59px rgba(0, 0, 0, 0.11);
  border-radius: 20px;

  padding: 10px 7px;

  min-height: 614px;
  /* position: relative; */
}

.imageContainer {
  margin-bottom: 28px;
}
.imageContainer img {
  width: 100%;
  height: auto;
}
.btn {
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: var(--medium-green);
  padding: 8px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  /* transform: rotate(90deg); */

  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--medium-green);
  border-radius: 8px;

  margin-top: 20px;
}
.btn:hover {
  background-color: var(--medium-green);
  color: #fff;
}
.btn path {
  transition: fill 0.3s ease;
}
.btn:hover path {
  fill: #fff;
}

.btn svg {
  transition: transform 0.3s ease;
}
.btn.btnOpened svg {
  transform: rotate(90deg);
}

.title {
  margin-bottom: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
  color: #000000;
  padding: 0 13px;
}

.description {
  margin-bottom: 22px;
  padding: 0 13px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

.content {
  height: 0;
  transition: height 0.3s ease;
}
.content p {
  margin-bottom: 20px;
  padding: 0 20px;
}
.content p:last-child {
  margin-bottom: 0;
}
.contentOpened {
  height: 503px;
  /* overflow-y: scroll; */
}
.bottom {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 22.5px;
    line-height: 17px;

    margin-bottom: 36px;
  }
  .description {
    font-size: 18px;
    line-height: 20px;

    margin-bottom: unset;
  }
  .container {
    min-height: 468px;

    padding: 7px 5px;

    box-shadow: 13.5px 10.5px 44.25px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
  }
  .imageContainer {
    margin-bottom: 20px;
  }
  .btn {
    font-size: 9px;
    line-height: 11px;

    padding: 6px;

    border: 0.75px solid var(--medium-green);
    border-radius: 8.25px;
  }
  .btn svg {
    width: 10px;
    height: 6px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-height: unset;
  }
  .title {
    font-size: 18.6923px;
    line-height: 14px;
    margin-bottom: 32px;
  }
  .description {
    font-size: 11.2154px;
    line-height: 14px;
    margin-bottom: 13px;
  }
  .container:nth-child(2) .description {
    font-size: 18px;
    line-height: 20px;
  }
}
