.colored {
  cursor: pointer;
}
.colored:hover path {
  transition: fill 0.3s ease;
}
.colored:hover path {
  fill: var(--light-green);
}

@media screen and (max-width: 1440px) {
  .colored svg {
    width: 21px;
    height: 21px;
  }
}
