.bordered {
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;

  color: transparent;
}
@media screen and (max-width: 768px) {
  .bordered {
    font-size: 46px;
    line-height: 96.3%;
  }
}
