.title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 1000;
  font-size: 136.58px;
  line-height: 96.3%;

  color: #e1e2e1;
  white-space: nowrap;
}

@media screen and (max-width: 1700px) {
  .title {
    font-size: 102.418px;
    line-height: 96.3%;
  }
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 102.418px;
    line-height: 96.3%;
  }
  .title span {
    position: relative;
    bottom: -5px;
  }
}
