.section {
  height: 100vh;
  background: linear-gradient(to right, #dddddd, #d6d5d5);
  position: relative;
  overflow: hidden;
}
.bgVideo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  /* height: auto;
  width: 100%; */
  height: 100%;
  width: auto;
  min-width: 100vw;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.vertical {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: calc(50% - 183px);
  overflow: hidden;
  height: 100vh;
  writing-mode: vertical-lr;
}

.mainText {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 1000;
  font-size: 296.122px;
  line-height: 110%;
  /* color: #dad9d9; */
  color: rgb(218, 217, 217, 1);
  background: linear-gradient(to left, #248c4e, #acffe1);
  /* color: white; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  writing-mode: vertical-rl;
  mix-blend-mode: multiply;

  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileHeader {
  display: none;
}
@media screen and (max-width: 1440px) {
  .mainText {
    font-size: 222.055px;
  }
  .vertical {
    left: calc(50% - 140px);
  }
}

@media screen and (max-width: 768px) {
  /* .bgVideo {
    left: 0;
    transform: none;
  } */
  .section {
    padding-top: 60px;
    /* padding-bottom: 40px; */
    height: auto;
  }
  .container {
    flex-direction: column;
  }
  .vertical {
    display: none;
  }
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
    padding-top: 37px;
    padding-bottom: 40px;
    max-width: 100%;
    padding-right: 60px;
    /* padding-left: 40px; */
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }
  .cardsContainer::-webkit-scrollbar {
    width: 0;
  }
  .mobileHeader {
    display: flex;
  }
  .mobileHeader > div {
    width: 100%;
  }
  .mobileHeader path {
    fill: var(--medium-green);
  }
}
