.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: var(--medium-green);

  border: 1px solid var(--medium-green);
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}
.arrowContainer {
  transition: transform 0.3s ease;
}
.rotated {
  transform: rotate(-90deg);
}

@media screen and (max-width: 1440px) {
  .btn {
    font-size: 8.96341px;
    line-height: 11px;
    padding: 5px 14px;

    gap: 8px;
  }
  .arrowContainer svg {
    width: 10px;
    height: 6px;
  }
}
