@import url('../assets/fonts/gilroy/stylesheet.css');
@import url('./overlayscrollbars.min.css');
:root {
  --black: #000;
  --white-grey: #f2f3f7;
  --light-grey: #d6d5d5;
  --text-grey: #e1e2e1;
  --card-text: #a0a0a4;
  --light-green: #7dffb1;
  --medium-green: #248c4e;
  --dark-green: #346849;
  --menu-z-index: 5;
  --line-width: 930px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body.no-overflow {
  position: fixed;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: 'Gilroy', sans-serif;
}

span.swiper-pagination-bullet {
  width: 22px;
  height: 4px;

  background: var(--light-green);
  opacity: 1;
  border-radius: 63px;
}
span.swiper-pagination-bullet-active {
  width: 56px;
  height: 4px;

  background: #ffffff;
  border-radius: 63px;
}
div.swiper-slide {
  background-color: #248c4e;
  overflow: hidden;
}
.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 43px;
  text-align: left;
  padding-left: 80px;
}
div.swiper-button-prev {
  display: none;
}
div.swiper-button-next {
  bottom: 34px;
  right: 140px;
  top: unset;
}

.slider-next-btn {
  position: absolute;
  bottom: 33px;
  right: 140px;
  z-index: 999;
  cursor: pointer;
}

.os-scrollbar .os-scrollbar-handle {
  background: var(--medium-green);
  cursor: pointer;
}
.os-scrollbar .os-scrollbar-handle:hover {
  background: var(--medium-green);
}
.os-scrollbar .os-scrollbar-track,
.os-scrollbar .os-scrollbar-track:hover {
  background: #dadada;
}
@media screen and (max-width: 1440px) {
  .swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 33px;
    text-align: left;
    padding-left: 61px;
  }
  .slider-next-btn svg,
  .slider-next-btn {
    width: 23px;
    height: 17px;
  }
  span.swiper-pagination-bullet {
    height: 3px;
    width: 16px;
  }
  span.swiper-pagination-bullet-active {
    height: 3px;
    width: 42px;
  }
}

@media screen and (max-width: 768px) {
  .slider-next-btn svg,
  .slider-next-btn {
    width: 29px;
    height: 21.5px;
  }
  .slider-next-btn {
    right: 36px;
  }
  .swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 37px;
    text-align: left;
    padding-left: 25px;
  }
  div.swiper-slide {
    margin-left: -1px;
  }
}
