.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.firstSectionContainer {
  position: absolute;
  top: 0;
  z-index: 9;
}
.contentContainer {
  margin-top: calc(100vh + 200px);
  z-index: 8;
}
.contentContainer.fixed {
  margin-top: 0;
  top: 0;
}
.firstHalfWrapper.fixed {
  position: fixed;
}
.firstHalfWrapper {
  position: relative;
  z-index: 9;
}
.secondHalfWrapper {
  background-color: #fff;
  position: relative;
  z-index: 7;
  top: 0;
}
.secondHalfWrapper.outOfView {
  margin-top: 400vh;
}
.firstHalfWrapper,
.secondHalfWrapper {
  /* will-change: transform; */
  transition: transform 0.3s ease;
}
.noOverflow {
  height: 100vh !important;
  overflow-y: hidden;
}
