.contentContainer {
  margin-top: 100vh;
}
.secondHalfWrapper {
  position: absolute;
  z-index: 9;
  top: 0;
}
.firstHalfWrapper {
  margin-bottom: 100vh;
  position: relative;
  z-index: 10;
}
.noOverflow {
  overflow: hidden;
}
