.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.container > div {
  flex-grow: 1;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top > div {
  flex-grow: 1;
}
.bottom {
  width: 100%;
  max-height: 331px;
  min-height: 331px;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 96.3%;
  color: #ffffff;
  margin-bottom: 56px;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.contacts > div {
  display: flex;
  gap: 91px;
  padding-left: 32px;
  display: flex;
  align-items: flex-start;
}

.contacts p {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 80px;
  max-width: 256px;
}
.mapWrapper {
  box-shadow: 18px 14px 59px rgba(0, 0, 0, 0.49);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contacts > div:first-child svg {
  width: 17.5px;
  height: 22.5px;
}
@media screen and (max-width: 1440px) {
  .mapWrapper {
    box-shadow: 13.5px 10.5px 44.25px rgba(0, 0, 0, 0.49);
    border-radius: 15px;
  }
  .bottom {
    min-height: 248px;
    max-height: 248px;
  }
  .title {
    font-size: 18.75px;
    line-height: 96.3%;

    margin-bottom: 42px;
  }
  .contacts {
    gap: 22px;
  }
  .contacts > div {
    gap: 69px;

    padding-left: 20px;
  }
  .contacts p {
    font-size: 16.5px;
    line-height: 22px;

    margin-bottom: 22px;
  }
  .contacts > div:first-child svg {
    width: 17px;
    height: 17px;
  }
  .contacts > div:nth-child(2) svg {
    width: 16px;
    height: 15px;
  }
  .contacts > div:nth-child(3) svg {
    width: 15px;
    height: 15px;
  }
}
