.item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */

  color: #ffffff;
  background-color: transparent;

  border: 1px solid var(--light-green);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}
.item.active {
  background-color: var(--light-green);
  color: #000;
}

@media screen and (max-width: 1440px) {
  .item {
    padding: 14.5px;
    font-size: 11.998px;
    line-height: 15px;
  }
}
