.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  background-color: #248c4e;
  position: relative;
  height: 100%;
}
.sliderInner {
  padding: 67px 140px 113px 80px;
  height: 100%;
}
.slideBgIndex {
  font-style: italic;
  font-weight: 1000;
  font-size: 769px;
  line-height: 500px;

  color: #228248;
  position: absolute;
  left: -100px;
  top: 0;
  z-index: 9;
}
.slideText {
  position: relative;
  z-index: 10;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;

  color: #ffffff;
  max-height: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  .slideText {
    font-size: 22px;
    line-height: 30px;
    position: relative;
    max-height: 240px;
  }
  .slideBgIndex {
    font-size: 576.655px;
    position: absolute;
    top: -66px;
    left: -70px;
  }
  .sliderInner {
    padding: 50px 104px 85px 61px;
  }
}

@media screen and (max-width: 768px) {
  .sliderInner {
    padding: 50px 25px 104px 28px;
  }
  .slideText {
    font-size: 20px;
    line-height: 30px;
    max-height: 420px;
  }
  .slideBgIndex {
    left: 50%;
    transform: translateX(-50%);
    top: -6px;
  }
}
