.container,
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 250%;
  color: #136534;

  transition: all 0.3s ease;
}
.text.active {
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1440px) {
  .text {
    font-size: 16px;
  }
}
