.input {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 96.3%;

  color: #ffffff;
  padding: 8px 20px;
  width: 29.48vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-green);
  outline: none;
}
@media screen and (max-width: 768px) {
  .input {
    padding: 4px 10px;
    font-size: 14.3551px;
    line-height: 96.3%;
    width: 100%;
  }
}
