.text {
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 132.8%;

  color: #ffffff;

  max-width: 393px;
}

@media screen and (max-width: 1440px) {
  .text {
    font-size: 23.1611px;
    line-height: 132.8%;

    margin-top: 218px;
  }
}
