.section {
  padding-top: 80px;
  background-color: var(--black);
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 4;
}

.centralContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 253px);
}

.menuIcon {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateY(0) translateX(-50%);
  transition: 0.3s transform;
  will-change: transform;
  z-index: 99999;
}
.menuIcon.opened {
  transform: translateY(379px);
}
.hiddenBlock {
  width: 0;
  height: 0;
  background-color: 'transparent';
  visibility: 'hidden';
}
.hiddenBlock:nth-child(2) {
  display: none;
}
@media screen and (max-width: 1440px) {
  .section {
    padding-top: 73px;
  }
  .centralContainer {
    height: auto;
    justify-content: baseline;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 60px;
  }
  .centralContainer {
    position: absolute;
    bottom: 112px;
  }
  .menuIcon {
    top: unset;
    bottom: 0;
  }
  .menuIcon svg {
    transform: rotate(180deg);
  }
  .menuIcon.opened {
    display: none;
  }
}
