.section {
  overflow: hidden;
  padding-top: 50px;
}
.sectionTop {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 37px; */
}
.scrollableBlock {
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  width: max-content;
  padding: 37px 200px 100px 0px;
}
.scrollableBlock::-webkit-scrollbar {
  width: 0;
}
.cardsTopContainer,
.cardsBottomContainer {
  display: flex;
  gap: 235px;
  background-color: transparent;
}
.cardsTopContainer {
  align-items: flex-end;
}
.cardsBottomContainer {
  align-items: flex-start;
}
.mainLine {
  position: relative;
  top: -19px;
  height: 8px;
  margin: 0 155px;
  width: 5520px;
  background-color: var(--medium-green);
}
.cardsBottomContainer {
  display: flex;
  position: relative;
  top: -39px;
  left: 285px;
}

@media screen and (max-width: 1440px) {
  .section {
    padding-top: 45px;
  }
  .cardsTopContainer,
  .cardsBottomContainer {
    gap: 177px;
  }
  .cardsBottomContainer {
    left: 217px;
  }

  .cardsBottomContainer {
    top: -34px;
  }
  .cardsTopContainer {
    position: relative;
    top: -3px;
  }
  .mainLine {
    margin: 0 135px;
    width: 4300px;
  }
}
@media screen and (max-width: 768px) {
  .scrollableBlock {
    width: unset;
    padding: 22px 70px 22px 0px;
  }
  .mainLine {
    margin: 0 125px;
    width: 4305px;
  }
}
