.link,
.link svg {
  width: 28px;
  height: 28px;
}
.link path {
  transition: fill 0.3s ease;
}
.link:hover path {
  fill: var(--light-green);
}
@media screen and (max-width: 1440px) {
  .link,
  .link svg {
    width: 21px;
    height: 21px;
  }
}
