.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1440px) {
  .headerRight {
    gap: 37px;
    position: relative;
    top: -4px;
  }
}
