.section {
  background-color: var(--black);

  padding: 100px 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.topText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  /* or 150% */
  text-align: right;

  color: #ffffff;
}
.input,
.input:focus,
.input:active {
  width: 100%;
  border: 1px solid var(--light-green);
  border-radius: 20px;
  padding: 27px 0 27px 116px;

  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #7dffb1;
  background-color: transparent;
  outline: none;
}
.inputBlock {
  margin-bottom: 115px;
}
.inputWrapper {
  margin-bottom: 50px;
  position: relative;
}
.inputWrapper svg {
  position: absolute;
  top: 50%;
  left: 58px;
  transform: translateY(-50%) translateX(-50%);
}
.inputWrapperBottom {
  display: flex;
  gap: 35px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.solveText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height, or 150% */
  text-transform: uppercase;

  color: #ffffff;
}
.solveItems {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;

  flex-grow: 1;
  align-items: flex-start;
}
.selectBlock {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.selectBlock button {
  align-self: center;
  justify-self: center;
}
.selectTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #ffffff;
}
.selectItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;
}
.blockPassive {
  opacity: 0.6;
}
