.section {
  padding-left: 140px;
  padding-bottom: 71px;

  background-color: #fff;
}
.containerTop {
  display: flex;
  align-items: center;

  margin-bottom: 120px;
  justify-content: space-between;
  gap: 40px;
}
.containerBottom {
  padding-right: 140px;
}
.bordered {
  color: transparent;
  background: linear-gradient(to bottom, #248c4e, #acffe1);
  color: #fff;
  -webkit-text-stroke: 3px transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.bottomText {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 50px;

  color: #000000;
}
.slider {
  width: 50vw;
  height: 500px;
}

@media screen and (max-width: 1440px) {
  .section {
    padding-left: 105px;
    padding-bottom: 50px;
  }
  .slider {
    height: 375px;
  }
  .containerTop {
    margin-bottom: 94px;
  }
  .bottomText {
    font-size: 32.592px;
    line-height: 38px;
  }
}
