.section {
  padding-top: 100px;
  padding-bottom: 170px;
  background-color: #fff;
}
.cardsWrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

div.card1 {
  height: 293px;
}
div.card2 {
  height: 236px;
}
div.card3 {
  height: 197px;
}
div.card4 {
  height: 215px;
}
div.card5 {
  height: 274px;
}
div.card6 {
  height: 0px;
}
div.card7 {
  height: 176px;
}
div.card8 {
  height: 0px;
}
